body {
    color: black;
    font-family: 'Saira Condensed', sans-serif;
    margin: auto;
    text-align: center;
    width: 90%;
}

textarea {
    width: 33%;
    min-height: 325px;
    overflow: scroll;
    background: #f4f4f9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
}

h3 {
    margin-top: 0;
}

#html-editor {
    width: 35%;
}
#js-editor {
    width: 64%;
}
  
/* #js-editor {
    min-height: 250px;
    overflow: scroll;
    background: rgb(214, 214, 214);
    color: black;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
    width: 100%;
} */

#js-editor-result {
    height: 125px;
    width: 100%;
}

button {
    margin: 10px 0;
}

.block-level {
    display: block;
}

iframe {
    bottom: 0;
    height: 400px;
}

hr {
    margin: 20px 0;
}

/* Title Section */
.title {
    width: 90%;
}

.title h1, img {
    display: inline;
}

.title h1 {
    font-size: 48;
}

.title p {
    margin: 0;
}

/* Nav Section */
#nav {
    margin: 20px 10px 30px 10px;
}

#nav p {
    border-radius: 15%;
    border: 1px solid black;
    display: inline;
    font-size: 28;
    margin: 0 10px;
    padding: 0 20; 
    width: 150;
}

#practice-section p {
    margin: 5px 0;
}

#timestamp-prompt {
    text-decoration: underline;
}

#timestamp-copy-toast {
    border: none;
    position: absolute;
    bottom: 10px;
}

/* Mobile */
@media screen and (max-width: 600px) {
    /* Title Section */
    .title h1 {
        font-size: 28;
    }

    .title img {
        width: 28;
    }

    .title p {
        font-size: 14;
    }

    /* Nav Section */ 
    .nav p {
        margin: 0 5px;
        padding: 0 10; 
        width: 100;
    }
}

/* Utils */
.warn {
    color: red;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.br-50 {
    border-radius: 50%;
    margin-left: 5;
    width: 38;
}

.unselected {
    background-color: white;
    color: black;
}

.selected {
    background-color: black;
    color: white;
}

